# Objects
src/*.o
src/ffi/*.o
lua/*.o
*.elf
*.velf
*.vpk
param.sfo
eboot.bin
/vpktmp

# Generated source
/src/ffi_init.c
/src/boot.c
/src/font.c
/src/splash.c

# VitaFM
/src/vitafm/vitafm.c
/src/vitafm/vitafm.o
/src/vitafm/vitafm.lua
/src/vitafm/vitafm_min.lua

# Vim Files
*.un~
*.swp
